		
		<nav>
			<ul>
				<li><img src="/images/logo13.png" class="logo"></li>
				<li><a href="index.html" class="hem">HEM</a></li>
				<li><a href="add.html" class="add">LÄGG TILL</a> </li>
				<li><a href="course.html" class="kurs">SÖK</a></li>
				<li><a href="delete.html"  class="bort">TA BORT</a> </li>
				<li><a href="update.html" class="update">UPPDATERING</a></li>
				<li><input type="text" class="search" ng-model="search"></input><input  type="submit"  class="sok" ng-click="postSearch()" value="Sök" class="button"></input></li>
			</ul>
		<nav>